.card {
    border: 1px solid rgb(235, 229, 229);
    border-right: hidden;
    border-left: hidden;
    margin: 2px;
    column-gap: 4px;


}

.courses {
    margin-top: 20px;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 40px;
}

.heading {

    margin-left: 150px;
    margin-right: 150px;

    /* justify-content: center; */

    /* justify-items: center; */

}